{{ define "main" }}
<!-- 폴더내 md 파일 내용르 보여주는 페이지 템플릿입니다 -->
<h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <div class="content">
      {{ .Content -}}
    </div>
    {{ template "_internal/disqus.html" . }}
    <div class="page-footer">
    {{if .Params.tags}}
        <div class="tag">
        {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
        {{ end }}
        </div>
    {{ end }}
    </div>
{{end}}
